* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  background-color: #181818;
  color: white;
}

.characters-list__container {
  max-width: 700px;
  margin: auto;
  margin-bottom: 48px;
}

.character__container {
  margin: 24px auto;
  padding: 24px;
  background-color: #383838;
  -webkit-box-shadow: 1px 1px 4px 1px #383838;
          box-shadow: 1px 1px 4px 1px #383838;
  border-radius: 4px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  cursor: pointer;
}

.character__container:hover {
  background-color: #b69e19;
  -webkit-box-shadow: 1px 1px 4px 1px #e4e196;
          box-shadow: 1px 1px 4px 1px #e4e196;
}

.character__header {
  font-size: 28px;
  font-weight: 600;
  color: white;
}

.character__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #bdbdbd;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.character__info-value {
  padding-left: 8px;
}

.button {
  margin: auto;
  cursor: pointer;
  display: block;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 4px 1px #383838;
          box-shadow: 1px 1px 4px 1px #383838;
}

.button:focus {
  opacity: 0.8;
}

.button:hover {
  opacity: 0.8;
}

.btn--full {
  width: 100%;
  padding: 16px;
  font-weight: 600;
  font-size: 20px;
}

.btn--small {
  width: 160px;
  padding: 8px;
}

.btn--primary {
  color: #383838;
  background-color: #f7d40a;
}

.btn--secondary {
  color: #383838;
  background-color: #923051;
}

.btn--neutral {
  color: #bdbdbd;
  background-color: #181818;
}

.movies__header {
  margin-top: 16px;
  color: #923051;
  font-size: 20px;
  font-weight: 600;
}

.movie__container {
  border-left: 5px solid #923051;
  margin: 16px;
  padding-left: 8px;
}

.movie__additionall-info {
  color: #bdbdbd;
  font-style: italic;
}

.movie__year {
  margin-top: 4px;
  font-size: 14px;
  color: #b88b9a;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #181818;
  border-bottom: 2px solid #383838;
  -webkit-box-shadow: 1px 1px 4px 1px #383838;
          box-shadow: 1px 1px 4px 1px #383838;
  padding: 8px 24px;
}

.navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__items {
  text-align: center;
}

.navbar__item {
  color: #bdbdbd;
  border-radius: 4px;
  padding: 16px;
  margin-left: 16px;
}

.navbar__item--description {
  display: none;
}

@media (min-width: 768px) {
  .navbar__item--description {
    display: block;
    padding-left: 8px;
  }
  .navbar__item {
    background-color: #383838;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=application.css.map */