* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  background-color: #181818;
  color: white;
}

.page__container {
  margin: 0 16px 48px 16px;
}

@media (min-width: 768px) {
  .page__container {
    max-width: 700px;
    margin: 0 auto 48px auto;
  }
}

.character__container--basic {
  margin: 24px auto;
  padding: 24px;
  background-color: #383838;
  -webkit-box-shadow: 1px 1px 4px 1px #383838;
          box-shadow: 1px 1px 4px 1px #383838;
  border-radius: 4px;
  cursor: pointer;
}

.character__container--basic:hover {
  background-color: #b69e19;
  -webkit-box-shadow: 1px 1px 4px 1px #e4e196;
          box-shadow: 1px 1px 4px 1px #e4e196;
}

.character__container--basic.--expanded {
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 4px 1px #383838;
          box-shadow: 1px 1px 4px 1px #383838;
  background-color: #b69e19;
  margin-bottom: 0;
}

.character__container--additional {
  margin: 0 auto 24px auto;
  padding: 24px;
  background-color: #383838;
  -webkit-box-shadow: 1px 1px 4px 1px #383838;
          box-shadow: 1px 1px 4px 1px #383838;
  border-radius: 4px;
}

.character__header {
  font-size: 28px;
  font-weight: 600;
  color: white;
}

.details__header {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 600;
}

.details__header.--secondary {
  color: #8f1f44;
}

.details__header.--primary {
  color: #b69e19;
}

.character__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #bdbdbd;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.character__info.--expanded {
  border-left: 2px solid #f7d40a;
  margin: 8px 16px;
  padding-left: 8px;
  color: white;
}

.character__info-header {
  color: #bdbdbd;
  min-width: 65px;
  opacity: 0.6;
}

.character__info-value {
  padding-left: 8px;
}

.movie__container {
  border-left: 5px solid #8f1f44;
  margin: 16px;
  padding-left: 8px;
}

.movie__additionall-info {
  color: #797979;
  font-style: italic;
  font-size: 14px;
}

.movie__year {
  margin-top: 4px;
  font-size: 14px;
  color: #bdbdbd;
}

.button {
  margin: auto;
  cursor: pointer;
  display: block;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 4px 1px #383838;
          box-shadow: 1px 1px 4px 1px #383838;
}

.button:focus {
  opacity: 0.8;
}

.button:hover {
  opacity: 0.8;
}

.btn--full {
  width: 100%;
  padding: 8px;
  font-weight: 600;
}

.btn--small {
  width: 160px;
  padding: 8px;
}

.btn--primary {
  color: #383838;
  background-color: #f7d40a;
}

.btn--secondary {
  color: #e0e0e0;
  background-color: #8f1f44;
  border: 1px solid #b88b9a;
}

.btn--neutral {
  color: #e0e0e0;
  background-color: #383838;
  border: 1px solid #797979;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #181818;
  border-bottom: 2px solid #383838;
  -webkit-box-shadow: 1px 1px 4px 1px #383838;
          box-shadow: 1px 1px 4px 1px #383838;
  padding: 8px 24px;
}

.navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__items {
  text-align: center;
}

.navbar__item {
  color: #bdbdbd;
  border-radius: 4px;
  padding: 16px;
  margin-left: 16px;
}

.navbar__item--description {
  display: none;
}

@media (min-width: 768px) {
  .navbar__item--description {
    display: block;
    padding-left: 8px;
  }
  .navbar__item {
    background-color: #383838;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.search__title {
  margin: 24px 0;
  font-size: 28px;
  color: #bdbdbd;
  font-weight: 600;
}

.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 16px 0;
}

.search__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__option {
  padding: 8px 16px;
  background-color: #383838;
  font-size: 14px;
  cursor: pointer;
}

.search__option.--active {
  background-color: #8f1f44;
}

.search__alert {
  margin: 48px auto;
  color: #bdbdbd;
  text-align: center;
}
/*# sourceMappingURL=application.css.map */