.character__info
    align-items: center
    color: $neutral-light
    display: flex
    font-size: $font-size-sm
    &.--expanded
        border-left: 2px solid $primary
        color: $white
        margin: $m-xs $m-sm
        padding-left: $m-xs

.character__info-header
    color: $neutral
    min-width: 65px

.character__info-value
    padding-left: $m-xs
