.character__container
    margin: $m auto
    padding: $m
    background-color: $neutral-dark
    box-shadow: 1px 1px 4px 1px $neutral-dark
    border-radius: $border-radius-xs
    flex-basis: 40%
    cursor: pointer
    &:hover
        background-color: $primary-dark
        box-shadow: 1px 1px 4px 1px $primary-light

.character__header
    font-size: $font-size-xl
    font-weight: $font-weight-bold
    color: $white

.character__info
    display: flex
    color: $neutral-light
    align-items: center
    font-size: $font-size-sm


.character__info-value
    padding-left: $m-xs
