.movie__container
    border-left: 5px solid $secondary
    margin: $m-sm
    padding-left: $m-xs

.movie__additionall-info
    color: $neutral
    font-style: italic
    font-size: $font-size-sm

.movie__year
    margin-top: $m-xxs
    font-size: $font-size-sm
    color: $neutral-light