.character__container--basic
    margin: $m auto
    padding: $m
    background-color: $neutral-dark
    box-shadow: 1px 1px 4px 1px $neutral-dark
    border-radius: $border-radius-xs
    cursor: pointer
    transform: scale(1)
    transition: all 500ms ease-in-out
    &:hover
        transform: scale(1.01)
        background-color: $primary-dark
        box-shadow: 1px 1px 4px 1px $primary-light
    &.--expanded
        cursor: auto
        border-radius: $border-radius-xs
        box-shadow: 1px 1px 4px 1px $neutral-dark
        background-color: $primary-dark
        margin-bottom: 0
        &:hover
        transform: scale(1)

.character__container--additional
    margin: 0 auto $m auto
    padding: $m
    background-color: $neutral-dark
    box-shadow: 1px 1px 4px 1px $neutral-dark
    border-radius: $border-radius-xs

.character__header
    font-size: $font-size-xl
    font-weight: $font-weight-bold
    color: $white

.details__header
    margin-top: $m-sm
    font-size: $font-size-lg
    font-weight: $font-weight-bold
    &.--secondary
        color: $secondary
    &.--primary
        color: $primary-dark