.search__title
    margin: $m 0
    font-size: $font-size-xl
    color: $neutral-light
    font-weight: $font-weight-bold

.search__container
    display: flex
    align-items: center
    flex-wrap: wrap
    margin: $m-sm 0

.search__input
    flex-grow: 1
    flex-basis: 100%
    height: 48px
    display: flex

.search__option
    padding: $m-xs $m-sm
    background-color: $neutral-dark
    font-size: $font-size-sm
    cursor: pointer
    transition: all 300ms ease-in-out
    &.--active
        background-color: $secondary
    &.--inactive:hover
        // color: $secondary
        background-color: $neutral
        opacity: 0.6


.search__alert
    margin: $m-lg auto
    color: $neutral-light
    text-align: center

.search__movie-picker
        border-bottom: 2px solid $neutral-dark
        margin-bottom: $m-xs
        padding-bottom: $m-xs

.search__movie-button
    display: flex
    justify-content: flex-end

@media (min-width: 768px)
    .search__movie-picker
        align-items: center
        display: flex
        justify-content: space-between