* {
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  background-color: var(--neutral-dark);
  color: var(--white);
}
:root {
  --primary: rgb(247, 238, 10);
  --primary-light: rgb(228, 225, 150);
  --secondary: rgb(146, 48, 81);
  --secondary-light: rgb(184, 139, 154);
  --neutral-very-dark: rgb(36, 44, 49);
  --neutral-dark: rgb(80, 95, 105);
  --neutral: rgb(137, 166, 184);
  --neutral-light: rgb(171, 205, 226);
  --white: rgb(255, 255, 255);
}