.button
    border-radius: $border-radius-xs
    border: none
    box-shadow: 1px 1px 4px 1px $neutral-dark
    cursor: pointer
    display: block
    outline: none
    transition: all 500ms ease-in-out
    &:focus
        opacity: 0.7
    &:hover
        opacity: 0.7


.btn--full
    font-weight: $font-weight-bold
    padding: $m-xs
    width: 100%

.btn--small
    padding: $m-xs
    width: 160px

.btn--primary
    background-color: $primary
    color: $neutral-dark

.btn--secondary
    background-color: $secondary
    border: 1px solid $secondary-light
    color: $neutral-very-light

.btn--neutral
    background-color: $neutral-dark
    border: 1px solid $neutral
    color: $neutral-very-light
